<a class="js-toggle-debug btn--debug">D</a>
<div class="debug" style="display:none;">
  <select class="js-slick-active-css-change" data-prop="background-size">
    <option value=""></option>
    <option value="cover">cover</option>
    <option value="contain">contain</option>
    <option value="auto">normal</option>
  </select>
  <select class="js-slick-active-css-change" data-prop="background-position">
    <option value=""></option>
    <option value="top left">top left</option>
    <option value="center">center</option>
  </select>
  <input type="color" class="js-slick-active-css-change" data-prop="background-color" name="color" id="color">

  <input type='file' id="imgInp" />
  <a target="_blank" href="mailto:sander@novemberfive.co?subject=saving&body=" class="js-email">Mail Sander</a>
</div>