<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<!-- build:js /scripts/combined.min.js -->
<script type="text/javascript" src="/scripts/modernizr.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/tingle.min.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script type="text/javascript" src="/scripts/utils.js"></script>
<script type="text/javascript" src="/scripts/bgs.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
<script type="text/javascript" src="/scripts/debug.js"></script>

<!-- endbuild -->
