<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <meta name="twitter:title" property="og:title" itemprop="title name" content="{{ .Site.Params.og.title }}" />
  <meta itemprop="description" property="og:description" name="twitter:description" content="{{ .Site.Params.og.description }}" />
  <meta property="og:image" name="twitter:image" content="{{ .Site.Params.og.image }}" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <meta name="twitter:card" content="summary">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ .Title }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/touch/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/touch/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/touch/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/images/touch/safari-pinned-tab.svg" color="#000000">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="{{ .Site.Params.themeColor }}">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="{{ .Site.Params.themeColor }}">

  <!-- Your styles -->
  <link rel="stylesheet" href="./styles/main.css">

  <script type="text/javascript">
    var ie = (function () {

      var undef,
        v = 3,
        div = document.createElement('div'),
        all = div.getElementsByTagName('i');

      while (
        div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
        all[0]
      );

      return v > 4 ? v : undef;
    } ());

    if (ie < 11 && window.location.pathname !== '/unsupported/') {
      window.location.href = "/unsupported/";
    }
  </script>

</head>