<div class="intro">
  <div class="myar">
    <video autoplay loop muted>
      <source src="/images/cut.mp4" type="video/mp4"/>
    </video>
  </div>
</div>

<main class="wrap">
  <div class="animate-glitch js-info-open">
    <img class="btn--info" src="/images/info.svg" alt="Info"/>
    <img class="btn--info" src="/images/info-highlight.svg" alt="Info"/>
    <img class="btn--info" src="/images/info.svg" alt="Info"/>
  </div>
  
  <!--<div class="centered">
    <a class="btn btn--intro js-info-open"><span class="animate-glitch" data-text="INFO">INFO</span></a>
  </div>-->
</main>