
<div class="animate-glitch js-info-open">
  <img class="btn--info" src="/images/info.svg" alt="Info"/>
  <img class="btn--info" src="/images/info-highlight.svg" alt="Info"/>
  <img class="btn--info" src="/images/info.svg" alt="Info"/>
</div>

<div class="intro-slick intro">
  <div class="intro-slide">
    <span class="caption js-bgs-caption">hologoram 3D video of MYAR t-shirt graphic. video by Nicola Buccioli.</span>

    <div class="myar video">
      <video autoplay loop muted playsinline>
        <source src="/images/cut.mp4" type="video/mp4"/>
        <source src="/images/cut.webm" type="video/webm"/>
      </video>
    </div>
  </div>
  <div class="intro-slide intro-slide--logos">
    <div class="logos">
      {{ partial "logos.html" .}}
    </div>
    <div class="go-down">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
        <path xmlns="http://www.w3.org/2000/svg" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
      </svg>
    </div>
  </div>
</div>

<span class="caption js-bgs-caption"></span>

<!--<div class="intro-text">WELCOME<br/>this site is temporarily under construction.<br/>Please click the images to browse through the showcase. <br/><br/>  ようこそ。<br/> ただいま、サイトのメンテナンス中です。<br/> 画像をクリックして、ギャラリーをお楽しみください。</div>-->
<div class="intro-text"><img src="/images/welcome.svg" alt="Welcome" /></div>