{{ partial "head.html" .}}

<body>
  {{ partial "intro.html" .}}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

  <div class="info-text" id="info-text">
    {{ $.Site.Data.info.info | markdownify }}
    <div class="social">
      <a style="float:left;" href="mailto:info@tomtosseyn.be">info@tomtosseyn.be</a>
      <a style="float:right;" href="http://instagram.com/tomtosseyn" target="_blank"><img src="/images/instagram.svg" alt="instagram"/></a> 
    </div>
  </div>
  
  {{ partial "footer" .}}
</body>