@font-face {
  font-family: 'Choque Display';
  src: url('/fonts/choque-display-ssi-bold-italic-webfont.woff2') format('woff2'), 
  url('/fonts/choque-display-ssi-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}