@font-face {
  font-family: 'Choque Display';
  src: url('../fonts/choque-display-ssi-bold-italic-webfont.woff2') format('woff2'), 
  url('../fonts/choque-display-ssi-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Monaco';
    src: url('../fonts/monaco-webfont.woff2') format('woff2'),
         url('../fonts/monaco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}