html,
body {
  font-family: $font-family-intro;  
  color: white;
  height: 100vh; 
}

.intro {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;  
  overflow: hidden;
  background-size: 100vw auto;
  transition: background 0.3s ease;

  cursor: pointer;
  .myar {
    display: none;
  }

}

.info-text {
  display: none;
}

.tingle-enabled .intro {
  background-image: url('/images/contact_backdrop_md.png') !important;
  background-size: 75vw auto;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.centered {
  margin: 0 auto;
}

.btn--info {
  position: absolute;
  margin: 20px;
  height: 60px;
  user-select: none;
  cursor: pointer; 
}

/** 
  background customizations
*/

.intro {

  &.timcoppens {
    background-size: 160vw auto; /* TODO: generate high res image */
  }

  &.bag {
    background-size: 77vw auto;
  }

  &.deathby {
    background-size: 80vw auto;
  }

  &.buggy-small {
    background-image: url('../images/intro-crop-bg-v2.jpg');
    background-size: 25vw auto;

    @media (max-width: 900px) {
      background-size: 33vw auto;  
    }

    @media (max-width: 500px) {
      background-size: 50vw auto;
    }
  }

  &.myar {
    background-color: #000;
    .myar {
      display: block
    }
    video {
      width: 100vw;
      height: auto;
    }
  }
}

// .animate-glitch {
//   display: block;
// }
// $name, $intensity, $width, $height, $top, $left, $amount, $delay
// .animate-glitch {
//    @include imgGlitch("animate-glitch", 30, 70, 70, 40, 40, 1, 3s);
// }

// .animate-glitch:hover,
// .animate-glitch:active,
// .animate-glitch:focus {
//    @include imgGlitch("animate-glitch", 30, 70, 70, 40, 40, Infinite, 0);
// }
